{% extends "base.html" %} {% load static %} {% block content %}
<head>
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
  />
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script>
    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
      var min = parseInt($("#minPercent").val(), 10);
      var max = parseInt($("#maxPercent").val(), 10);
      var percent = parseFloat(data[3]) || 0; // use data for the percent column

      if (
        (isNaN(min) && isNaN(max)) ||
        (isNaN(min) && percent <= max) ||
        (min <= percent && isNaN(max)) ||
        (min <= percent && percent <= max)
      ) {
        return true;
      }
      return false;
    });

    $(document).ready(function () {
      var table = $("#dtMaterialDesignExample").DataTable();
      $("#dtMaterialDesignExample_wrapper")
        .find("label")
        .each(function () {
          $(this).parent().append($(this).children());
        });

      $("#dtMaterialDesignExample_wrapper .dataTables_filter")
        .find("input")
        .each(function () {
          const $this = $(this);
          $this.attr("placeholder", "Search");
          $this.removeClass("form-control-sm");
        });
      $("#dtMaterialDesignExample_wrapper .dataTables_filter")
        .find("label")
        .remove();

      // Event listener to the two range filtering inputs to redraw on input
      $("#minPercent, #maxPercent").keyup(function () {
        table.draw();
      });
    });
  </script>
</head>

<div class="container">
  <div class="card bg-light">
    <div class="card-body">
      <h3>Gaps</h3>

      <br />

      <table cellspacing="5" cellpadding="5">
        <tbody>
          <tr>
            <td>Min %:</td>
            <td><input type="text" id="minPercent" name="min" /></td>
          </tr>
          <tr>
            <td>Max %:</td>
            <td><input type="text" id="maxPercent" name="max" /></td>
          </tr>
        </tbody>
      </table>

      <br />

      <table
        id="dtMaterialDesignExample"
        class="table"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="th-sm">Stock</th>
            <th class="th-sm">Close (J-1)</th>
            <th class="th-sm">Open (J)</th>
            <th class="th-sm">Percent</th>
            <th class="th-sm">Volume</th>
            <th class="th-sm">VAA</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">Timestamp</th>
            <th class="th-sm">Ascending</th>
          </tr>
        </thead>
        <tbody>
          {% for gap in gaps %}
          <tr>
            <td>
              <a href="https://finance.yahoo.com/quote/{{gap.symbol}}/">
                {{ gap.symbol}}
              </a>
            </td>
            <td>{{ gap.prev_close }}</td>
            <td>{{ gap.open }}</td>
            <td>{{ gap.percent }}</td>
            <td>{{ gap.volume }}</td>
            <td>{{ gap.volume_above_average }}</td>
            <td>{{ gap.timestamp }}</td>
            <td>{{ gap.timestamp|date:"U" }}</td>
            <td>{{ gap.ascending }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
