{% extends "base.html" %} {% load static %} {% block content %}
<head>
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
  />
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script>
    // Material Design example
    $(document).ready(function () {
      $("#dtMaterialDesignExample").DataTable();
      $("#dtMaterialDesignExample_wrapper")
        .find("label")
        .each(function () {
          $(this).parent().append($(this).children());
        });

      $("#dtMaterialDesignExample_wrapper .dataTables_filter")
        .find("input")
        .each(function () {
          const $this = $(this);
          $this.attr("placeholder", "Search");
          $this.removeClass("form-control-sm");
        });
      $("#dtMaterialDesignExample_wrapper .dataTables_length").addClass(
        "d-flex flex-row"
      );
      $("#dtMaterialDesignExample_wrapper .dataTables_filter").addClass(
        "md-form"
      );
      $("#dtMaterialDesignExample_wrapper select").removeClass(
        "custom-select custom-select-sm form-control form-control-sm"
      );
      $("#dtMaterialDesignExample_wrapper select").addClass("mdb-select");
      $("#dtMaterialDesignExample_wrapper .mdb-select").materialSelect();
      $("#dtMaterialDesignExample_wrapper .dataTables_filter")
        .find("label")
        .remove();
    });
  </script>
</head>

<div class="container">
  <div class="card bg-light">
    <div class="card-body">
      <h3>Gaps</h3>

      <br />

      <table
        id="dtMaterialDesignExample"
        class="table"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="th-sm">Stock</th>
            <th class="th-sm">Close</th>
            <th class="th-sm">Open</th>
            <th class="th-sm">Percent</th>
            <th class="th-sm">Volume</th>
            <th class="th-sm">VAA (%)</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">timestamp</th>
          </tr>
        </thead>
        <tbody>
          {% for gap in gaps %}
          <tr>
            <td>
              <a href="https://finance.yahoo.com/quote/{{gap.symbol}}/">
                {{ gap.symbol}}
              </a>
            </td>
            <td>{{ gap.close }}</td>
            <td>{{ gap.next_open }}</td>
            <td>{{ gap.percent }}</td>
            <td>{{ gap.next_volume }}</td>
            <td>{{ gap.volume_above_average }}</td>
            <td>{{ gap.timestamp }}</td>
            <td>{{ gap.timestamp|date:"U" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="card bg-light">
    <div class="card-body">
      <h3>Gaps</h3>

      <br />

      {% for gap in gaps %}
      <a href="https://finance.yahoo.com/quote/{{gap.symbol}}/">
        <h3>{{ gap.symbol}}</h3>
      </a>
      <h6>
        {{ gap.timestamp}} ・
        <!--  -->
        <b>Close:</b> {{ gap.close}} ・
        <!--  -->
        <b>Open:</b> {{ gap.next_open}}
        <!--  -->
        (<b>{{ gap.percent}}%</b>) ・
        <!--  -->
        <b>Volume:</b> {{ gap.next_volume}}
      </h6>
      {% empty %}
      <p class="empty">No gaps to show.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
