/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

img {
  max-width: 100%;
}

/* Other Classes for Page Styling */

body {
  background: #30abf2;
  background: linear-gradient(to right, #30abf2, #78ceff);
}

/* Overwrite properties */
.all-page {
  height: 90vh;
}

.btn-success {
  background: #30abf2 !important;
}

.bg-success {
  background: #30abf2 !important;
}

.text-success {
  color: #30abf2 !important;
}
